<!DOCTYPE html>
<html>
    <head>
        <title>
            DIABETECH - Controles
        </title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='request.js') }}"></script>
    </head>
    <header>
        <h1 class="titles">Diabetech</h1>
        <nav></nav>
    </header>
    <body>
        <table>
            <tr>
                <th>Valor</th>
                <th>Insulina</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Observaciones</th>
            </tr>
            {% for control in controles %}
            <tr>
                <td>
                    {{ control["valor"] }}
                </td>
                <td>
                    {{ control["insulina"] }}
                </td>
                <td>
                    {{ control["fecha"] }}
                </td>
                <td>
                    {{ control["hora"] }}
                </td>
                <td>
                    {{ control["observaciones"] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>