<!DOCTYPE html>
<html>
    <head>
        <title>
            DIABETECH - Controles
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='request.js') }}"></script>
    </head>
    <header>
        <h1 class="titles">Diabetech</h1>
        <nav></nav>
    </header>
    <body>
        <ol> <!-- TODO: Arreglar esto para que sea una tabla prolija y cumpla con lo definido -->
            {% for list_value in registries %}
            <form method="GET" action={{ list_value["id"] }}>
            <button id="registry_item">
            ID:
            {{
                list_value["id"]
            }}
            - GLUCOSA:
             {{
                 list_value["glucose"]
             }}
             - MOMENTO:
             {{
                 list_value["moment"]
             }}
             - FECHA:
             {{
                 list_value["date"]
             }}
            </button><br>
            </form>
            {% endfor %}
        </ol>
    </body>
</html>